/.idea/codeStyles/codeStyleConfig.xml
/.idea/modules.xml
/.idea/StudyPhp.iml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/php.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/sqldialects.xml
